/* title and logo */
.site-branding {
	margin: 0 auto 0 0;
	display: grid;
}

.site-branding .custom-logo-link {
	margin-right: 1.25em;
	grid-row: 2 / 4;
	align-self: center;
}
.site-branding .site-title {
	margin-top: 0;
	grid-row: 2;
	align-self: end;
}
.site-branding .site-description {
	display: block;
	grid-row: 3;
}

@media screen and (max-width: 300px) {
	.site-branding .custom-logo-link {
		margin-bottom: 0.5em;
		grid-row: 1;
	}
}

.custom-logo {
	width: 96px;
}

@media screen and (max-width: 44.375em) {
	.custom-logo {
		width: 72px;
	}
}

.site-footer .site-title:after {
	display: none;
}

@media screen and (max-width: 56.875em) {
	.main-navigation {
		white-space: nowrap;
		text-align: center;
		border: solid;
		border-width: 1px 0;
		border-image: -webkit-linear-gradient(90deg, rgba(26,26,30,.15), rgba(66,144,177,.5), rgba(26,26,30,.15)) 1;
		border-image: -moz-linear-gradient(90deg, rgba(26,26,30,.15), rgba(66,144,177,.5), rgba(26,26,30,.15)) 1;
		border-image: linear-gradient(90deg, rgba(26,26,30,.15), rgba(66,144,177,.5), rgba(26,26,30,.15)) 1;
	}
	.main-navigation .menu-navi-container {
		display: inline-block;
		max-width: 80%;
		border-left: 1px dashed rgba(66,144,177,.4);
		margin: 0.6em 0;
	}

	.main-navigation::before {
		content: 'MENU';
		display: inline-block;
		font-weight: 700;
		padding: 0 0.6em 0 0.4em;
		vertical-align: middle;
	}

	.main-navigation .primary-menu,
	.main-navigation li {
		display: inline-block;
		border: 0;
	}

	.main-navigation .primary-menu {
		text-align: initial;
		white-space: normal;
		vertical-align: middle;
		margin: -0.4em 0;
		padding-left: 0.3em;
	}

	.main-navigation a {
		margin: 0.4em 0;
		padding: 0.1em 0.5em;
		border-right: 1px dashed rgba(66,144,177,.4);
	}
}

@media screen and (min-width: 36em) {
	.main-navigation .menu-navi-container {
		max-width: 100%;
		border: 0;
	}

	.main-navigation::before {
		display: none;
	}

	.main-navigation a {
		border: 0;
	}
}

@media screen and (min-width: 40em) and (max-width: 56.875em) {
	.main-navigation a {
		padding: 0.1em 0.8em;
	}
}

.site-header-menu {
	display: block;
}

.menu-toggle {
	display: none;
}

.menu-navi-container {
	white-space: nowrap;
}

/* widget */
.widget {
	margin-bottom: 2em;
}

/* "about" in widget */
.insert-page p {
	margin-bottom: 0.5em;
}

.insert-page a {
	box-shadow: 0 1px 0 0 currentColor;
}

.insert-page h2 a {
	box-shadow: none;
}

.insert-page h2 a:hover {
	color: #007acc;
}

.insert-page-shown,
.insert-page .insert-page-hidden {
	display: none;
}

.insert-page .insert-page-shown {
	display: initial;
}

.second-title h2.widget-title {
	margin-top: 1.75em;
}
	
.about-me {
	border-radius: 50%;
	margin-bottom: 0.75em;
}

.social-link {
	margin-top: 1.25em;
	margin-bottom: 1.75em;
}

.social-link a {
	fill: #686878;
	margin-right: 6px;
	box-shadow: none;
}

.social-link a:hover {
	fill: #007acc;
}

/* anchor */
a.anchor {
	color: #1a1a1e;
	box-shadow: none;
}

/* footnote */
.footnotes {
	margin: 2em 0 2em;
}

.footnotes hr {
	width: 38.2%; /* golden ratio */
	margin-bottom: 1.2em;
}

.footnotes blockquote {
	margin-left: 0em !important;
	border-left-width: 0;
	padding-left: 0;
}

.footnotes p,
.references p {
	margin-left: 2em;
	text-indent: -2em;
	line-height: 1.4736842105;
}

.footnotes p,
.references p:not(:last-child) {
	margin-bottom: 0.25em;
}

.footnotes .note-block:first-child,
.references .note-block:first-child {
	display: inline-block;
	min-width: 2em;
	text-indent: 0;
}

.footnotes .note-block:not(:first-child),
.references .note-block:not(:first-child) {
	font-size: 93.333%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.footnotes .note-block:not(:first-child):before,
.references .note-block:not(:first-child):before {
	content: "\A0\20";
}

.footnotes .note-block + [hidden] + .note-block:not(:first-child):before,
.references .note-block + [hidden] + .note-block:not(:first-child):before {
	font-size: 50%;
}

.footnotes .note-block:not(:first-child) a.note :not(.note-suffix),
.references .note-block:not(:first-child) a.note :not(.note-suffix) {
	display: none;
}

.footnotes .note-block:not(:first-child) .note-suffix:after,
.references .note-block:not(:first-child) .note-suffix:after {
	content: '↩︎';
	font-size: 92%;
	top: -.05em;
	position: relative;
}

.pnote .note,
.pnote-home .note {
	top: -.125em;
	position: relative;
}

.pnote .note sup,
.pnote-home .note sup {
	top: -.375em;
}

.pnote:hover {
	color: #686878;
}

.pnote:hover .non-annotated,
.pnote .annotated:hover,
.pnote .annotated:hover ~ sup {
	color: initial;
}

blockquote .pnote:hover,
blockquote .pnote a:hover {
	color: #90909E;
}

blockquote .pnote .annotated:hover,
blockquote .pnote .annotated:hover ~ sup {
	color: #686878;
}

a.note {
	box-shadow: none;
}

/* wavy underline
 * from http://dabblet.com/gist/f6cfd244631c8ca898ef60b100b96386
 */
.wavy {
	background-image:
		linear-gradient(45deg, transparent 65%, #1a1a1e 80%, transparent 90%),
		linear-gradient(135deg, transparent 5%, #1a1a1e 15%, transparent 25%),
		linear-gradient(135deg, transparent 45%, #1a1a1e 55%, transparent 65%),
		linear-gradient(45deg, transparent 25%, #1a1a1e 35%, transparent 50%);
	background-repeat:repeat-x;
	background-size: 8px 2px;
	background-position:0 95%;
}

.inline-note {
	font-size: 75%;
	position: relative;
	bottom: -0.1em;
}

article {
	font-size: 0.9375em; /*15px*/
}

article p {
	margin-bottom: 1.64em;
}

/* automatically add space between Chinese characters and Latin alphabets */
hanla:after {
	content: " ";
	display: inline;
}

code hanla,
pre hanla,
kbd hanla,
samp hanla,
ol > hanla,
ul > hanla,
tr > hanla,
caption .table-number + hanla,
figcaption .figure-number + hanla,
.table-caption .table-number + hanla,
.figure-caption .figure-number + hanla {
	display: none;
}

/* table with horizontal scroll bar */
.hori-scroll {
	width: 100%;
	overflow-x: auto;
	margin: 0 0 1.64em;
}

.hori-scroll table {
	white-space: nowrap;
	margin: 0;
}

table {
	/* previous setting: fixed */
	table-layout: auto;
	line-height: 1.4;
}

table.compact th,
table.compact td {
	line-height: 1.3;
	padding: 0.375em;
}

table.smaller-text {
	font-size: 12px;
	line-height: 16px;
}

table.smaller-text th,
table.smaller-text td {
	padding: 4px;
}

div.format-desc {
	display: none;
}

table.equal-col-width th,
table.equal-col-width td,
div.table.equal-col-width + table th,
div.table.equal-col-width + table td {
	width: 10%;
}

table.head-hidden thead,
table.head-hidden th,
div.table.head-hidden + table thead,
div.table.head-hidden + table th {
	display: none;
}

caption,
.table-caption {
	text-align: center;
	margin-bottom: 0.5em;
}

figcaption,
.figure-caption {
	text-align: center;
	margin-top: 0.25em;
	margin-bottom: 1.64em;
}

figure .figure {
	text-align: center;
}

.music-notation figcaption,
.music-notation .figure-caption {
	text-align: left;
	margin-top: initial;
	margin-bottom: 0.25em;
}

.music-notation img {
	margin-bottom: 1.64em;
}

caption .table-number,
figcaption .figure-number,
.table-caption .table-number,
.figure-caption .figure-number {
	font-weight: bold;
}

caption .table-number ~ .table-caption-text,
figcaption .figure-number ~ .figure-caption-text,
.table-caption .table-number ~ .table-caption-text,
.figure-caption .figure-number ~ .figure-caption-text {
	margin-left: 0.75em;
}

code[class*="language-"],
pre[class*="language-"] {
	background: #F7FAFC !important;
}

pre[class*="language-"] {
	border: none;
}

code[class*="language-"] {
	padding: 0;
}

@media screen and (min-width: 44.375em) {
	.code-toolbar {
		width: 115%;
	}
}

@media screen and (min-width: 56.875em) {
	.code-toolbar {
		width: 130%;
	}
}

@media screen and (min-width: 61.5625em) {
	.code-toolbar {
		width: 140%;
	}
}

@media screen and (min-width: 61.5625em) {
	body:not(.search-results) article:not(.type-page).tag-entry-content-full-width .entry-content {
		width: 100%;
	}
}

/* some preset colors */
.preset-yellow {
	color: #ffd700; /* Gold */
}

.preset-green {
	color: #32cd32; /* LimeGreen */
}

.preset-blue {
	color: #00bfff; /* DeepSkyBlue */
}

.preset-grey {
	color: silver; /* #c0c0c0 */
}

.preset-red {
	color: red;
}

blockquote {
	font-size: inherit;
	font-style: inherit;
}

.wrapper {
	position: relative;
	padding-top: 80%;
}

.wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.text-align-right {
	text-align: right;
}

.text-align-center {
	text-align: center;
}

/* reset blockquote */
blockquote cite,
blockquote small {
	color: inherit;
	display: initial;
	font-size: inherit;
	line-height: inherit;
}

blockquote cite:before,
blockquote small:before {
	content: none;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: italic;
}

blockquote strong,
blockquote b {
	font-weight: 700;
}

.katex {
	font-size: 1em !important;
}

.frac-line {
	border-bottom-width: 1px !important;
}

/* play script */
.play-script p {
	margin-bottom: 0.75em;
}

.play-script p.actor-line {
	margin-left: 4em;
	text-indent: -4em;
}

.play-script p.actor-line .character-name {
	display: inline-block;
	width: 4em;
	height: 1em; /* prevent adding extra line height */
	text-indent: 0;
}

fwsp:after {
	content: "\3000";
}

.non-breaking {
	white-space: nowrap;
}

/* tooltip */
.hint {
	position: relative;
	border-bottom: 1px dashed #686878;
	cursor: help;
}

.hint[data-tooltip]:after,
.hint[data-tooltip]:before {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 100%;
	transition: all .3s;
}

.hint[data-tooltip]:after {
	content: attr(data-tooltip);
	transform: translate(2px, -50%);
	white-space: pre;
	padding: 5px 10px;
	background-color: transparent;
	color: transparent;
	border-radius: 4px;
}

.hint[data-tooltip]:before {
	content: '';
	height: 0;
	width: 0;
	transform: translate(-2px, -50%);
	border-width: 5px 5px 5px 0;
	border-style: solid;
	border-color: transparent;
}

.hint:hover:after,
.hint:hover:before {
	transition: all .3s;
	visibility: visible;
}

.hint:hover:after {
	color: #f0f4f8;
	background-color: #1a1a1e;
	transform: translate(6px, -50%);
}

.hint:hover:before {
	border-color: transparent #1a1a1e transparent transparent;
	transform: translate(2px, -50%);
}

#ez-toc-container {
	background: #f8fafc;
	border: 1px solid #686878;
	border-radius: 10px;
	display: table;
	margin-bottom: 1.64em;
	padding: 15px;
}

#ez-toc-container .ez-toc-title {
	font-weight: 700;
	font-size: 1.1875rem;
	line-height: 1.1052631579;
	margin-top: 2.5px;
	margin-bottom: 10px;
}

#ez-toc-container .ez-toc-list {
	font-size: 14px;
	font-size: .875rem;
	margin: 0 0 0 1.4em;
}

#ez-toc-container .ez-toc-list a {
	box-shadow: none;
}

/* fonts */
/* originally: Merriweather, Georgia, serif */
body,
button,
input,
select,
textarea,
.required,
.comment-form .comment-form-cookies-consent label {
	font-family: -apple-system, "Helvetica Neue", "Segoe UI", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

/* originally: Montserrat, "Helvetica Neue", sans-serif */
::-webkit-input-placeholder,
button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
.post-password-form label,
.main-navigation,
.post-navigation,
.post-navigation .post-title,
.pagination,
.image-navigation,
.comment-navigation,
.site .skip-link,
.widget .widget-title,
.widget_recent_entries .post-date,
.widget_rss .rss-date,
.widget_rss cite,
.tagcloud a,
.site-title,
.entry-title,
.entry-footer,
.sticky-post,
.page-title,
.page-links,
.comments-title,
.comment-reply-title,
.comment-metadata,
.pingback .edit-link,
.comment-reply-link,
.comment-form label,
.no-comments,
.widecolumn .mu_register label,
/* originally: "Open Sans", sans-serif */
.logged-in .site .skip-link,
/* originally: Montserrat, sans-serif */
.site-footer .site-title:after,
.site-footer span[role=separator],
text {
	font-family: "Gill Sans", Tahoma, -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

.songti {
	font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
}

.kaiti,
.stage-direction {
	font-family: Baskerville, "Garamond", "Palatino Linotype", "Book Antiqua", "Times New Roman", "Liberation Serif", "Kaiti SC", "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, STKaiti, DFKai-SB, "TW\-Kai", serif;
}

.fangsong,
.character-name {
	font-family: Baskerville, "Garamond", "Palatino Linotype", "Book Antiqua", "Times New Roman", "Liberation Serif", FangSong, FangSong_GB2312, STFangsong, "CWTEX\-F", serif;
}

code, kbd, tt, var, samp, pre {
	font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
}

:lang(ja) {
	font-family: "Gill Sans", Tahoma, -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Arial, "Liberation Sans", "Meiryo", "Yu Gothic", "MS PGothic", sans-serif;
}

/* 思源黑体的中点是半角 */
.cn {
	font-family: "Hiragino Sans GB", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "Microsoft YaHei", "WenQuanYi Zen Hei Sharp", sans-serif;
}

.cn-quot {
	font-family: "Hiragino Sans GB", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "Microsoft YaHei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

.full-width-char {
	display: inline-block;
	width: 1em;
	text-indent: 0;
}
